.container {
		
		background-color: #321fff;
		display: flex;
		justify-content: center;

		width 100vh;
		height: 300px;
}

.container > div {
		width: 20px;
		height: 20px;
		background-color: #123456;



}
