.container {
		
		background-color: #321fff;
		display: flex;
		justify-content: center;

		width 100vh;
		height: 300px;
}

.container > div {
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-radius: 50%;
	



}

.square {
		animation-name: ChangeColor;
		animation-duration: 3s;


}

@keyframes ChangeColor {

		from {background-color: #532111;}
		to{	
			height: 100px;
			width: 100px;
			background-color: green;
		}
		
		border-radius: 50%;
		border: 8px solid black;


}
